@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    background-color: rgb(38, 53, 80);
    font-size: 18px;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
}

.section-1 {
    display: flex;
    background-color:rgb(38, 53, 80);
    color: white;
    justify-content: center;
    min-height: 100vh;
    
}

.sec1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 4px;
    width: 500px;
    height: 600px;
}

/* .sec1-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

.hero-text {
    font-size: 48px;
    font-weight: 900;
    
}

.sec1-left button {
    width: 100px;
    border-radius: 6px;
    border: none;
    padding: 8px 18px;
    color: white;
    background-color: #3882F6;
    margin-top: 8px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 30px;
}

#profile-image {
    width: 150px;
    height: auto;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles {
    display: flex;
    gap: 60px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    background-color: #eeeeee;

}

.section-4 {
    background-color: blue;
    width: 600px;
    display: flex;
    margin: auto;

}

.sec4-header {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    
    
}

.sec4-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: aquamarine;
}




